@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CallmeJigo';
    src: url('../src/assets/fonts/Autumn\ in\ September.ttf') format('opentype'); /* Vérifiez le chemin par rapport à l'emplacement du fichier index.css */
    font-weight: normal;
    font-style: normal;
}